body {
    width: 90%;
    margin: 0px auto;

    display: flex; 
    min-height: 100vh;
    flex-direction: column;
}
header {
    height: 100%;
}
h2 {
    text-align: center;
    color: lightgoldenrodyellow;
}
h3 {
    text-align: center;
    color: lightgoldenrodyellow;
}
h5 {
    color: darkcyan;
    text-align: center;
    }

header > nav {
    height: 100%;
    color: black;
    
}
main {
    flex: 1 0 auto;
    background-color: lightskyblue;
}
main h1 {
    font-weight: bold;
    color:lightgoldenrodyellow ;
    background-color: darkcyan;
    border-radius: 25px;
    text-align: center;

}
main h2 {
    font-weight: 300;
    
}
footer.page-footer.pink.accent{
    color: darkcyan;
}
#logo-icon {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mainpanel{
    margin:50px
    
    
}
#mainpanel-content {
    margin:25px;
    border-radius: 25px; 
}



